html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    margin: 0;
    padding: 0;
}

.blok {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vysledek {
    background-color: orange;
    padding: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    
}

.vysledek +.vysledek {
    margin-left: 20px;
}